.chart-gauge
{
width: 400px;
margin: 20px auto
}
.gauge-workload
{
width: 400px;
margin: 20px auto
}
.gauge-exertion
{
width: 400px;
margin: 20px auto
}
.green
{
fill: #9FBD35;
}
.orange
{
fill: #F2BA3A;
}
.red
{
  fill: #FB3033;
}
.blue
{
fill: #90C3D4;
}

.needle, .needle-center
{
fill: #000000;
}
    .text {
        color: "#112864";
        font-size: 16px;
    }
