.Wrapper {
  background-color: #1a1a00;
  }

.Header {
  background-color: #fff;
}

.liquid-text {
    transform: translate(0, 0px);
    font-family: inherit;
  }



.Column {
  background-color: #fff;
  border: outset;
  border-color: #000000;
  border-width: thin;
  padding-top: 20px;
  padding-bottom: 20px;
}

.BrandName {
  font-family: inherit;
  font-size: 2em;
  font-weight: 550;
}

.SubBrand {
  font-family: inherit;
  color: #d40000;
  font-size: 1.2em;
  font-weight: 550;
}


.Insights {
  border-color: #d40000;
  border-width: thick;
  background-color: #fff;
  color: #000000;
  box-shadow: 3px 3px 10px #808080;
  font-size: 1.1em;
  margin-bottom: 30px;
}

.InsightValue {
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.green
{
fill: #2dc937;
}
.orange
{
fill: #e7b416;
}
.red
{
  fill: #cc3232;
}
.blue
{
fill: #90C3D4;
}

.needle, .needle-center
{
fill: #000000;
}
    .text {
        color: "#112864";
        font-size: 16px;
    }

.SmallText {
  font-size: 0.8em;
}

.card-default {
  border-color: #d40000;
  border-width: medium;
}

.card-default > .card-heading {
  background: #d40000;
  color: #ffffff;
  border-color: #d40000;
}


.mdi::before {
    font-size: 24px;
    line-height: 14px;
}
.btn .mdi::before {
    position: relative;
    top: 4px;
}
.btn-xs .mdi::before {
    font-size: 18px;
    top: 3px;
}
.btn-sm .mdi::before {
    font-size: 18px;
    top: 3px;
}
.dropdown-menu .mdi {
    width: 18px;
}
.dropdown-menu .mdi::before {
    position: relative;
    top: 4px;
    left: -8px;
}
.nav .mdi::before {
    position: relative;
    top: 4px;
}
.navbar .navbar-toggle .mdi::before {
    position: relative;
    top: 4px;
    color: #FFF;
}
.breadcrumb .mdi::before {
    position: relative;
    top: 4px;
}
.breadcrumb a:hover {
    text-decoration: none;
}
.breadcrumb a:hover span {
    text-decoration: underline;
}
.alert .mdi::before {
    position: relative;
    top: 4px;
    margin-right: 2px;
}
.input-group-addon .mdi::before {
    position: relative;
    top: 3px;
}
.navbar-brand .mdi::before {
    position: relative;
    top: 2px;
    margin-right: 2px;
}
.list-group-item .mdi::before {
    position: relative;
    top: 3px;
    left: -3px
}

.mdi-icon:hover {
  fill: #d40000;
  cursor: pointer;
}

.profile {
  border-radius: 50%;
  box-shadow: 3px 3px 3px #808080;
}

.logout {
  cursor: pointer;
}


.modal-dialog {

          width: 1800px;

        }



/* .Login {
  background: "../components/field-bg.59a5e231.jpg";

} */
